{% extends "FloBenAnatomEasyBundle:Student/Exercices:studentExercicesBarre.html.twig" %}

{% block title %}Le systeme respiratoire CM2{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}{{idExercice}} - Le systeme digestif ({{idNiveau}}){% endblock titreCours %}
	<div id="global">
		<span>ezggggggggggggggggggggggggggggggggggggggggggggggggggggggggggsdsgssssssssssssssssssssssssssssssssssssssssssssssssssssssssssd</span>
	</div>
{% endblock body %}
