{% extends "FloBenAnatomEasyBundle:Student/Exercices:studentExercicesBarre.html.twig" %}

{% block title %}Les cinq sens {% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}{{idExercice}} - Les cinq sens  ({{idNiveau}}){% endblock titreCours %}
	<div id="global">
		<span>ezggggggggggggggggggggggggggggggggggggggggggggggggggggggggggsdsgssssssssssssssssssssssssssssssssssssssssssssssssssssssssssd</span>
	</div>
{% endblock body %}
