{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Connection{% endblock title %}
{% block body %}

{{ parent() }}


	<div id="navBar">
		<a href="{{path('anatomeasy_student_index')}}">
			<div id="retourMenuBox" class="barreButton">
				<div id="retourMenuBoxImg">
					<img src="{{ asset('css/img/icone_retour_main.png') }}"/>
				</div>
				<div id="retourMenuBoxTxt">
					<span>Menu principal</span>
				</div>
			</div>
			
			
			<div id="navBarTitre">
				<h1>{% block titreCours %}
					{% endblock %}</h1>
			</div>

		</a>
	</div>

{% endblock body %}
