{% extends "FloBenAnatomEasyBundle:Student/Exercices:studentExercicesBarre.html.twig" %}

{% block title %}Jeux{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %} Les {{idMedia}} bonus{% endblock titreCours %}
	<div id="global">
		<h1>Le syst&egrave;me digestif</h1>
			<span>Dans ce petit jeu tu va pouvoir t'amuser &agrave; tester tes connaissances sur les organes de la digestion, click sur d&eacute;marrer et c'est parti!</span>
			
			<input type="button" name="Start" value="Demarrer" onclick="display('.first');" style="background-color:#91c6b2" style="color:#63323b; font-weight:bold ; font-size:16pt;">
			<input type="button" name="Start" value="Arreter" onclick="hide('.first');" style="background-color:#91c6b2" style="color:#63323b; font-weight:bold ; font-size:16pt;">
			<div class="videoRecre first" style="display:none"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="432" height="330" title="game"> 
			<param name="movie" value="/flash/game.swf" /> 
			<param name="quality" value="high" /> 
			<embed src="http://www.kidlab.be/swf/appareil-digestif.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="640" height="420"></embed> 
			</object></iframe></div> 
			<br>
			<br>
			<span>Dans ce petit jeu tu va pouvoir t'amuser &agrave; tester tes connaissances sur l'estomac.</span>
			<input type="button" name="Start" value="Demarrer" onclick="display('.second');" style="background-color:#91c6b2" style="color:#63323b; font-weight:bold ; font-size:16pt;">
			<input type="button" name="Start" value="Arreter" onclick="hide('.second');" style="background-color:#91c6b2" style="color:#63323b; font-weight:bold ; font-size:16pt;">
			<div class="videoRecre second" style="display:none"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="432" height="330" title="game"> 
			<param name="movie" value="/flash/game.swf" /> 
			<param name="quality" value="high" /> 
			<embed src="http://www.kidlab.be/swf/estomac.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="640" height="420"></embed> 
			</object></iframe></div> 
			
		<h1>Le syst&egrave;me respiratoire</h1>

		
		
		<h1>Les cinq sens</h1>
	</div>
{% endblock body %}
{% block javascripts %}
 
        <script type="text/javascript">     

		function display(idAnim){
				$(idAnim).show('slow');
		}
		function hide(idAnim){
				$(idAnim).hide('slow');
		}
			</script>
{% endblock javascripts %} 
