{% extends "FloBenAnatomEasyBundle:Student/Exercices:studentExercicesBarre.html.twig" %}

{% block title %}Lectures{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %} Les {{idMedia}} bonus{% endblock titreCours %}
	<div id="global">
		<h1>Le syst&egrave;me digestif</h1>
		<h1>Le syst&egrave;me respiratoire</h1>
		<h1>Les cinq sens</h1>
	</div>
{% endblock body %}
