{% extends "FloBenAnatomEasyBundle:Student/Exercices:studentExercicesBarre.html.twig" %}

{% block title %}lectures{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %} Les {{idMedia}} bonus{% endblock titreCours %}
	<div id="global">
		<span>ezggggggggggggggggggggggggggggggggggggggggggggggggggggggggggsdsgssssssssssssssssssssssssssssssssssssssssssssssssssssssssssd</span>
	</div>
{% endblock body %}