 
          
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ path('anatomeasy_index_index') }}">Anatom-Easy</a>
          <div class="nav-collapse collapse">
 
            {% if is_granted("ROLE_TEACHER") %} 
                    <a href="{{ path('anatomeasy_teacher_index') }}" title="Espace enseignant">Espace enseignant</a>
            
            {% else %}
            <form action="{{ path('fos_user_security_check') }}" method="post" class="navbar-form pull-right">

            <input type="text" id="username" class="span2" name="_username"  required="required"  placeholder="Login enseignant"/>

            <input class="span2" type="password" class="span2" id="password" name="_password" placeholder="Mot de passe"/>

            <input type="checkbox"id="remember_me" name="_remember_me" value="on" />

            <input type="submit" class="btn"  value="Connexion" />
        </form>
            {% endif %} 
 
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
     









