{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Cours - {{idCours}} - {{idNiveau}}{% endblock title %}
{% block body %}


{{ parent() }}


{% if idCours == "le_systeme_digestif" %}
<h1> c bon </h1>
	{% if idNiveau == "CE1" %}
		{% include "FloBenAnatomEasyBundle:Student/Cours:le_systeme_digestif_CE1.html.twig" %}
	{% else %}
		{% if idNiveau == "CE2" %}
			{% include "FloBenAnatomEasyBundle:Student/Cours:le_systeme_digestif_CE2.html.twig" %}
		{% else %}
			{% if idNiveau == "CM1" %}
				{% include "FloBenAnatomEasyBundle:Student/Cours:le_systeme_digestif_CM1.html.twig" %}
			{% else %}
				{% if idNiveau == "CM2" %}
					{% include "FloBenAnatomEasyBundle:Student/Cours:le_systeme_digestif_CM2.html.twig" %}
				{% endif %} 
			{% endif %}
		{% endif %}
	{% endif %}
    
	{% else %}
	{% if idCours == "le_systeme_respiratoire" %}
		{% if idNiveau == "CE1" %}
			{% include "FloBenAnatomEasyBundle:Student/Cours:le_systeme_respiratoire_CE1.html.twig" %}
		{% else %}
			{% if idNiveau == "CE2" %}
				{% include "FloBenAnatomEasyBundle:Student/Cours:le_systeme_respiratoire_CE2.html.twig" %}
			{% else %}
				{% if idNiveau == "CM1" %}
					{% include "FloBenAnatomEasyBundle:Student/Cours:le_systeme_respiratoire_CM1.html.twig" %}
				{% else %}
					{% if idNiveau == "CM2" %}
						{% include "FloBenAnatomEasyBundle:Student/Cours:le_systeme_respiratoire_CM2.html.twig" %}
					{% endif %}
				
				{% endif %}
			{% endif %}
		{% endif %}
    
	{% else %}
	{% if idCours == "les_cinq_sens" %}
		
		{% if idNiveau == "CE1" %}
			{% include "FloBenAnatomEasyBundle:Student/Cours:les_cinq_sens_CE1.html.twig" %}
		{% else %}
			{% if idNiveau == "CE2" %}
				{% include "FloBenAnatomEasyBundle:Student/Cours:les_cinq_sens_CE2.html.twig" %}
			{% else %}
				{% if idNiveau == "CM1" %}
					{% include "FloBenAnatomEasyBundle:Student/Cours:les_cinq_sens_CM1.html.twig" %}
				{% else %}
					{% if idNiveau == "CM2" %}
						{% include "FloBenAnatomEasyBundle:Student/Cours:les_cinq_sens_CM2.html.twig" %}
					{% endif %}
				
				{% endif %}
			{% endif %}
		{% endif %}	
	
	{% endif %}
	
{% endif %}
{% endif %}



{% endblock body %}
