{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Exercice - {{idExercice}} - {{idTheme}}{% endblock title %}
{% block body %}


{{ parent() }}


{% if idExercice == "Qcm" or idExercice == "QCM"%}
	{% if idTheme == "La_digestion" %}
		{% include "FloBenAnatomEasyBundle:Student/Exercices:qcm_le_systeme_digestif.html.twig" %}
	{% else %}
		{% if idTheme == "La_respiration" %}
			{% include "FloBenAnatomEasyBundle:Student/Exercices:qcm_le_systeme_respiratoire.html.twig" %}
		{% else %}
			{% if idTheme == "Les_sens" or idTheme == "Les_cinq_sens" %}
				{% include "FloBenAnatomEasyBundle:Student/Exercices:qcm_les_sens.html.twig" %}
			{% else %}
				<h1>error</h1>
			{% endif %}
		{% endif %}
	{% endif %}
    
	{% else %}
	{% if idExercice == "Puzzle" %}
		{% if idTheme == "La_digestion" %}
			{% include "FloBenAnatomEasyBundle:Student/Exercices:puzzle_le_systeme_digestif.html.twig" %}
		{% else %}
			{% if idTheme == "La_respiration" %}
				{% include "FloBenAnatomEasyBundle:Student/Exercices:puzzle_le_systeme_respiratoire.html.twig" %}
			{% else %}
				{% if idTheme == "Les_sens" or idTheme == "Les_cinq_sens"  %}
					{% include "FloBenAnatomEasyBundle:Student/Exercices:puzzle_les_sens.html.twig" %}
				{% else %}
						<h1>error</h1>
				{% endif %}
			{% endif %}
		{% endif %}
    
	{% else %}
	{% if idExercice == "Pendu" %}
		
		{% if idTheme == "La_digestion" %}
			{% include "FloBenAnatomEasyBundle:Student/Exercices:pendu_le_systeme_digestif.html.twig" %}
		{% else %}
			{% if idTheme == "La_respiration" %}
				{% include "FloBenAnatomEasyBundle:Student/Exercices:pendu_le_systeme_respiratoire.html.twig" %}
			{% else %}
				{% if idTheme == "Les_sens" or idTheme == "Les_cinq_sens"  %}
					{% include  "FloBenAnatomEasyBundle:Student/Exercices:pendu_les_sens.html.twig" %}
				{% else %}
					<h1>error</h1>
				
				{% endif %}
			{% endif %}
		{% endif %}	
	
	{% endif %}
	
{% endif %}
{% endif %}



{% endblock body %}
