{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Connection{% endblock title %}
{% block body %}

{% include "FloBenAnatomEasyBundle:Student:studentmenu.html.twig" %}
{{ parent() }}
<h2>Bonjour "nom" !</h2>
<div id="devoir" class="well">
<h3>Devoirs</h3>
        <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span3">
                <a href="#" class="thumbnail">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  
                </a>
              </li>
            </ul>
          </div>
</div>
<div id="cours" class="well">
<h3>Cours</h3>
</div>
<div id="exercices" class="well">
<h3>Exercices</h3>
</div>


{% endblock body %}
