@font-face {
    font-family: "caricature";
    src: url("font/fun.ttf");
}

@font-face {
    font-family: "caricature3d";
    src: url("font/pop.ttf");
}

@font-face {
    font-family: "ecolier";
    src: url("font/Georgia Belle.ttf");
}

body{
	background: #CEA0D8;
	min-height:300px;
	min-width:1140px;
	overflow: scroll;
}



/*************************** MENU STUDENT ********************************************/

.itemMenu{
	position: relative;
	float: left;
	padding-bottom:2%;
	width:90%;
	margin-left:4%;
	margin-bottom: 4%;
	border:3px solid #63323B;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	background: #f2b1ca; /* Old browsers */
	background: -moz-linear-gradient(top, #f2b1ca 0%, #f4f5f9 99%, #f9f7f7 100%, #e3e4e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2b1ca), color-stop(99%,#f4f5f9), color-stop(100%,#f9f7f7), color-stop(100%,#e3e4e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2b1ca 0%,#f4f5f9 99%,#f9f7f7 100%,#e3e4e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2b1ca 0%,#f4f5f9 99%,#f9f7f7 100%,#e3e4e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2b1ca 0%,#f4f5f9 99%,#f9f7f7 100%,#e3e4e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2b1ca 0%,#f4f5f9 99%,#f9f7f7 100%,#e3e4e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=&acute;#f2b1ca&acute;, endColorstr=&acute;#e3e4e5&acute;,GradientType=0 ); /* IE6-9 */

	-moz-box-shadow: 10px 10px 5px 0px rgb(96,108,136);
	-webkit-box-shadow: 10px 10px 5px 0px rgb(96,108,136);
	-o-box-shadow: 10px 10px 5px 0px rgb(96,108,136);
	box-shadow: 10px 10px 5px 0px rgb(96,108,136);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=rgb(96,108,136), Direction=134, Strength=5);
}

#devoir{
	margin-top:8%;

}
#devoir a.homeworkDone{
	 cursor:default; 
}

#devoir a.homeworkDone {
    -webkit-filter: blur(2px) brightness(0.2);
    -moz-filter: blur(2px) brightness(0.2);
    -o-filter: blur(2px) brightness(0.2);
    -ms-filter: blur(2px) brightness(0.2);
}
#devoir .homework-done {
    position:relative;
    top:45px;
    right:35px;
    font-size:15pt;
    text-shadow: 0px 0px 9px #FFF;
}
.titreMenu{
	font-family: "caricature";
	font-size:70pt;
	color: #63323B;
	margin-top:2%;
	margin-bottom:2%;
	text-align:center;
}

.boiteItemMenu{

	position :relative;
	float:left;
	margin-left:2%;
	margin-top:2%;
	width: 30%;
	height : 50%;

}

.boiteItemMenuTitre{
	position :relative;
	float:left;
	width: 50%;
	height : 100%;

}

.boitItemMenuImg{
	position :relative;
	float:left;
	min-height:180px;
	min-width:160px;
	width: 100%;
	height : 100%;
	
}
.boitItemMenuText{
	position :relative;
	float:left;
	width: 100%;
	height : 100%;
}


.boitItemMenuText h2{
	font-family: "caricature3d";
	font-size:20pt;
	color: #228450;
	text-align:center;
}

.boiteItemMenuBtnBox{
	position :relative;
	float:left;
	width: 45%;
	height :100%;
}

.boiteItemMenuBtn{
	position :relative;
	float:left;
	padding-left:10%;
	width: 90%;
	height :10%;
	
}

.boiteItemMenuBtn {
	margin-bottom: 5%;
   border: 2px solid #63323b;
   background: #91c6b2;
   background: -webkit-gradient(linear, left top, left bottom, from(#91c6b2), to(#91c6b2));
   background: -webkit-linear-gradient(top, #91c6b2, #91c6b2);
   background: -moz-linear-gradient(top, #91c6b2, #91c6b2);
   background: -ms-linear-gradient(top, #91c6b2, #91c6b2);
   background: -o-linear-gradient(top, #91c6b2, #91c6b2);
   
   -webkit-border-radius: 22px;
   -moz-border-radius: 22px;
   border-radius: 22px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #63323b;
   font-size: 24px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
  }
.boiteItemMenuBtn:hover {
   border-color: #91c6b2;
   background: #63323b;
   
 }
.boiteItemMenuBtn:active {
   border-top-color: #1b435e;
   background: #1b435e;
}
.boiteItemMenuBtn a {
	font-size: 20px;
}

.boiteItemMenuBtn a:Hover {
	color: #91c6b2;
	text-decoration: none;
}
/**************************************** RECREATION *********************************/

.itemRecreation{
	border: 2px solid #63323b;
	background:#91c6b2;
	-webkit-border-radius: 22px;
   -moz-border-radius: 22px;
	border-radius: 22px;
}

.video{
	margin-left: 5%;
}

.itemRecreation:hover{
	background: #63323b;
	border-color:#91c6b2;
}
/**************************************** page niveaux *********************************/
.lienNiveau:hover{

	background: #91c6b2;
    margin-left:5%;
   -moz-box-shadow: 0px 0px 0px 0px rgb(96,108,136);
    -webkit-box-shadow:  0px 0px 0px 0px rgb(96,108,136);
    -o-box-shadow: 0px 0px 0px 0px rgb(96,108,136);
    box-shadow: 0px 0px 0px 0px rgb(96,108,136);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=rgb(96,108,136), Direction=134, Strength=5);
}



/**************************************** STUDENT NAVIGATION BAR *********************************/
#navBar{
	position : fixed;
	top : 0px;
	left: 0px;
	height : 3%;
	width :100%;
	min-height: 70px;
	min-width: 1000px;
	border : solid 2px #63323B;
	border-style: dotted;
background: #63323B; /* Old browsers */
	z-index:10000;
	-moz-box-shadow: 10px 10px 5px 0px rgb(96,108,136);
	-webkit-box-shadow: 10px 10px 5px 0px rgb(96,108,136);
	-o-box-shadow: 10px 10px 5px 0px rgb(96,108,136);
	box-shadow: 10px 10px 5px 0px rgb(96,108,136);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=rgb(96,108,136), Direction=134, Strength=5);

}

#navBarTitre{
	position: relative ;
	float: left;
	padding-left: 2%;
	height: 100%;
	width: 20 %;
	
}

#navBarTitre h1{
	font-family: "caricature";
	font-size:40pt;
	color: #91c6b2;
}

#navBar span{
	
	font-size:12pt;
	color: #F2B1CA;
	text-align:center;

}

#retourMenuBox{
	position: relative ;
	float: left;
	height: 100%;
	width: 10%;
	border:2px solid #91c6b2;
}

#retourMenuBoxImg{
	position: relative;
	float: left;
	height:100%;
	width: 50%;
}

.barreButton:hover{
   border-color: #63323b;
   background: #91c6b2;
}

.barreButton a:Hover {
	color: #63323b;
	text-decoration: none;
}

#retourMenuBoxImg img{
	position:relative;
	float: left;
	height:100%;
	width: 100%;
}
#retourMenuBoxTxt{
	position: relative;
	float: left;
	height:100%;
	width: 20%;
}
#coursPrecedBox{
	position: relative ;
	float: left;
	height: 100%;
	width: 10%;
	border:2px solid #91c6b2;
}

#coursPrecedBoxImg{
	position: relative;
	float: left;
	height:100%;
	width: 50%;
}

#coursPrecedBoxImg img{
	position:relative;
	float: left;
	height:100%;
	width: 100%;
}
#coursPrecedBoxTxt{
	position: relative;
	float: left;
	height:100%;
	width: 20%;
}

#coursSuivantBox{
	position: relative ;
	float: right;
	height: 100%;
	width: 10%;
	border:2px solid #91c6b2;
}

#coursSuivantBoxImg{
	position: relative;
	float: left;
	height:100%;
	width: 50%;
}

#coursSuivantBoxImg img{
	position:relative;
	float: left;
	height:100%;
	width: 100%;
}
#coursSuivantBoxTxt{
	position: relative;
	float: left;
	height:100%;
	width: 20%;
}




/***************************************** COURS *************************************************/

#global{
	position: relative;
	float: left;
	
	margin-top: 4%;
	margin-left:3%;
	min-height:500px;
	width:95%;
	
	border:3px solid #44000E;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	background: #f2b1ca; /* Old browsers */
	background: -moz-linear-gradient(top, #f2b1ca 0%, #f4f5f9 99%, #f9f7f7 100%, #e3e4e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2b1ca), color-stop(99%,#f4f5f9), color-stop(100%,#f9f7f7), color-stop(100%,#e3e4e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2b1ca 0%,#f4f5f9 99%,#f9f7f7 100%,#e3e4e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2b1ca 0%,#f4f5f9 99%,#f9f7f7 100%,#e3e4e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2b1ca 0%,#f4f5f9 99%,#f9f7f7 100%,#e3e4e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2b1ca 0%,#f4f5f9 99%,#f9f7f7 100%,#e3e4e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=&acute;#f2b1ca&acute;, endColorstr=&acute;#e3e4e5&acute;,GradientType=0 ); /* IE6-9 */

	-moz-box-shadow: 10px 10px 5px 0px rgb(96,108,136);
	-webkit-box-shadow: 10px 10px 5px 0px rgb(96,108,136);
	-o-box-shadow: 10px 10px 5px 0px rgb(96,108,136);
	box-shadow: 10px 10px 5px 0px rgb(96,108,136);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=rgb(96,108,136), Direction=134, Strength=5);
}

		/** Header cours **/
#header {
	position: relative;
	float: left;
	width: 100%;
	height :5%;
	
}

#header h1{
	font-family: "caricature";
	font-size:60pt;
	color: #63323B;
	text-align:center;

}




#global span{
	font-size:18pt;
	color:#63323b;
}

#global h1{
	margin-top:3%;
	margin-bottom:2%;
	font-size:24pt;
	color:#63323b;
	background: #91c6b2;
	border: 2px solid #63323b;
	text-align:center;
}

#global ul{
	margin-left:5%;
	margin-top:1%;
}

.boiteImgCours{

	display:block;
	height:400px;
	width:400px;
	margin-top: 2%;
	margin-left:37%;
}
.boiteImgCours img{
	height:100%;
	width:100%;
	
}

.boiteItemBonus{
	position :relative;
	float:left;
	margin-left:10%;
	margin-top:2%;
	width: 20%;
	height : 50%;

}


.boiteItemBonusTitre{
	position :relative;
	float:left;
	width: 100%;
	height : 100%;

}

.boiteItemBonusImg{
	position :relative;
	float:left;
	width: 100%;
	height : 100%;
	
}
.boiteItemBonusImg img{
	position :relative;
	float:left;
	width: 100%;
	height : 100%;
	
}

#boiteBonus{
	position:relative;
	float:left;
	margin-top:2%;
	height: 380px;
	width:100%;

}

#boiteExo{
	position:relative;
	float:left;
	width:49%;
	height:100%;
	border-right:2px solid #63323b;
}

#boiteExo h1 {
	margin-top:3%;
	margin-bottom:2%;
	font-size:16pt;
	color:#91c6b2;
	background: #63323b;
	text-align:center;
.}

#boiteMedia h1 {
	margin-top:3%;
	margin-bottom:2%;
	font-size:16pt;
	color:#91c6b2;
	background: #63323b;
	text-align:center;
.}



#boiteMedia{
	position:relative;
	float:left;
	width:49%;
	height:100%;
}

.itemBonus{
	background:#91c6b2;
	-webkit-border-radius: 22px;
   -moz-border-radius: 22px;
	border-radius: 22px;
}


.itemBonus:hover{
	background: #63323b;
	border-color:#91c6b2;
}

.boitItemBonusText{
	position :relative;
	float:left;
	width: 100%;
	height : 100%;
}


.boitItemBonusText h2{
	font-family: "caricature3d";
	font-size:16pt;
	color: #228450;
	text-align:left;
}


/************************* PENDU ****************************/
/*jeu du pendu*/ 
#pendu-container,#secret-word-container,#letters-container{

	font-size:24pt;
    margin:50px;
} 
#pendu-container{
    height:362px;
}
.jeu-pendu .pendu-letters{
    padding:5px; 
    text-transform : uppercase;
    color:grey;
}
.jeu-pendu .clickable{ 
    cursor:pointer; 
    color:green;
}

#penduGame{
	position:relative;
	float:left;
	width:70%;
	height:70%;
	margin-left:10%;

}

#tableImages{
	margin-left:25%;

}


#pendu-container{
	position:relative;
	float:left;
	min-height:30%;
	width:40%;
	margin-left:33%;
	background: #91c6b2;
	border:3px solid #63323b;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
}

#secret-word-container{
	height:30%;
	width:100%;
	position:relative;
	float:left;

}

#letters-container{
	position:relative;
	float:left;
	height:30%;
	width:100%;
	background: #91c6b2;

}

/******************** RECREATION ***********************/

.videoRecre{

	display:block;
	height:400px;
	width:400px;
	margin-top: 2%;
	margin-bottom: 4%;
	margin-left:37%;
}

