{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme respiratoire CE2{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme respiratoire (CE2){% endblock titreCours %}
	{% block coursPrecedent %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_respiratoire" ,'idNiveau':'CE1'}) }}">Cours precedent (CE1)</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_respiratoire" ,'idNiveau':'CM1'}) }}">Cours suivant (CM1)</a>{% endblock coursSuivant %}
	<div id="global">
		<h1>A quoi sert l’air que je respire ?</h1>
	<span>
		Un mouvement respiratoire comprend deux phases, une inspiration et une expiration.

		L’air inspiré contient du dioxygène, il ne contient pas ou très peu de dioxyde de carbone.
		 L’air expiré est riche en dioxyde de carbone.
		Le corps se sert de l’oxygène pour produire de l’énergie et se débarrasse du gaz carbonique qui est un déchet.
		Le trajet de l’air
		L'air entre par le nez et par la bouche, passe par la trachée jusqu’aux poumons. Les poumons sont divisés en bronches,  bronchioles et se finissent en alvéoles qui sont de minuscules sacs d'air.
		 A partir des alvéoles, l'air circule dans tout le corps.
	</span> 
		 <img src="/css/img/cours/parcourAir.png"/>
<h1>Les mouvements respiratoires</h1>
	<span>
 Nous respirons de manière automatique grâce au diaphragme qui se contracte.
 Le diaphragme est un muscle plat attaché à la base de la cage thoracique. Lorsque le diaphragme est au repos, il est bombé vers le haut. Lorsque le diaphragme se contracte (ce qui demande un effort), il s'abaisse. 
Le volume de la cage thoracique augmente et le poumon se remplit d'air : c'est l'inspiration.

Lorsque le diaphragme se relâche, il se bombe vers le haut, (ce qui ne demande pas d'effort). Le volume de la cage thoracique diminue et l'air sort du poumon : c'est l'expiration.

L'inspiration est active alors que l'expiration est passive
	</span>
<img src="/css/img/cours/mouvements.png"/>

	</div>
{% endblock body %}