{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme digestif CE1{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme respiratoire (CE1){% endblock titreCours %}
	{% block coursPrecedent %}<a href="">c'est le début</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_respiratoire" ,'idNiveau':'CE2'}) }}">Cours suivant (CE2)</a>{% endblock coursSuivant %}
	<div id="global">
		<span>L’air est vital. On respire continuellement par des mouvements réguliers. 
			Le rythme augmente quand on fait des efforts. Un enfant peut forcer ou bloquer sa respiration.
			 L’air entre c’est l'inspiration et sort c’est l'expiration par le nez et par la bouche. L’air va dans les deux poumons puis ressort.
			La respiration s'accélère quand on fait un effort physique et on a besoin de beaucoup d'air.
			L'air entre dans ma bouche ou mon nez puis arrive aux poumons par la trachée.
			
			Si l’air est pollué, il circule moins bien et m'empêche de respirer correctement.
		</span>
		<img src="/css/img/cours/respirationCE1.png"/>
		
	</div>
{% endblock body %}
