{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme digestif CM1{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme digestif (CM1){% endblock titreCours %}
	{% block coursPrecedent %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_digestif" ,'idNiveau':'CE2'}) }}">Cours precedent (CE2)</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_digestif" ,'idNiveau':'CM2'}) }}">Cours suivant (CM2)</a>{% endblock coursSuivant %}
	<div id="global">
	
	<h1>le trajet des aliments</h1>
	<span>
		Les aliments que nous mangeons passent dans notre corps &agrave; travers le tube digestif. Le tube digestif comprend : la bouche, l’oesophage, l’estomac, l’intestin gr&ecirc;le (qui mesure 8m de longueur), le gros intestin et l’anus.
		Les aliments progressent le long de la paroi de l’intestin gr&acirc;ce aux contractions des muscles de cette paroi.
		Au cours de leur trajet dans le tube digestif, les aliments sont transform&eacute;s en substances solubles tr&egrave;s petites : les nutriments.
		Ils sont transform&eacute;s gr&acirc;ce &agrave; l’action des sucs digestifs qui se trouvent dans les glandes digestives (glandes salivaires, foie, pancr&eacute;as).
		Les nutriments passent dans le sang qui va les distribuer &agrave; tous les organes du corps. Les d&eacute;chets (l’eau et les morceaux qui ne peuvent &ecirc;tre r&eacute;duits en petites particules) passent dans le gros intestin et sont rejet&eacute;s dans les urines et dans les mati&egrave;res f&eacute;cales.
	</span>
	<div class="boiteImgCours"><img src="/css/img/cours/tubeDigestif.png"/></div>

	<h1>C'est quoi les nutriments ?</h1>
	<span>
		Les aliments que nous mangeons ne peuvent pas passer dans notre corps tels qu’ils sont. Ils doivent &ecirc;tre broy&eacute;s, coup&eacute;s en minuscules parties qu’on appelle les nutriments.
	</span>
	<span>
		Un nutriment est une substance nutritive soluble provenant de la digestion des aliments, utilisable par les organes.
		Exemple : le glucose est un nutriment utilis&eacute; par tous les organes.
		On appelle absorption intestinale le passage des nutriments &agrave; travers la paroi intestinale, depuis la cavit&eacute; de l'intestin jusque dans le sang (ou, pour les produits de la digestion des lipides, passage dans la lymphe).
		On appelle villosit&eacute;s intestinales les petits replis, en forme de doigts, de 0,5 mm de long qui tapissent la paroi interne de l'intestin gr&ecirc;le. Leur nombre consid&eacute;rable (plus de 10 millions) cr&eacute;e une grande surface de contact entre les aliments et la paroi intestinale : 140 m2 chez un adulte. On parle de surface d'&eacute;change.
		L'absorption est aussi favoris&eacute;e par la longueur de l'intestin gr&ecirc;le, qui est de 6,7 &agrave; 7,6 m.
	</span>
	<div class="boiteImgCours"><img src="/css/img/cours/nutriments.gif"/></div>
	</div>
{% endblock body %}