{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme respiratoire CM1{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme respiratoire (CM1){% endblock titreCours %}
	{% block coursPrecedent %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_respiratoire" ,'idNiveau':'CE2'}) }}">Cours precedent (CE2)</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_respiratoire" ,'idNiveau':'CM2'}) }}">Cours suivant (CM2)</a>{% endblock coursSuivant %}
	<div id="global">
		<h1> Le trajet de l'air </h1>
		
		<span>
		L’air inspiré entre dans notre corps par le nez ? ou par la bouche ?. Il passe ensuite dans la trachée artère ? 
		et dans les deux poumons ?. Dans chaque poumon, l’air va dans une bronche ?, puis dans les bronchioles ? 
		et enfin dans les alvéoles pulmonaires ? où ont lieu les échanges gazeux. 
		L'air expiré suit le trajet inverse puis ressort par la bouche ou par le nez.
		</span>
		
		<img src="/css/img/cours/trajet_air.png"/> 
		
		<h1> Les mouvements respiratoires </h1>
		<span>
		La respiration est un acte automatique, on n’y réfléchit pas, c’est naturel. Pendant l’inspiration, l’air entre, gonfle les poumons grâce aux contractions du diaphragme ? et des muscles de la cage thoracique. 
		Puis les poumons se dégonflent, c’est l’expiration, la cage thoracique s’abaisse et l’air sort des poumons. Le diaphragme se relâche.
		</span>
		
		<h1> Les échanges gazeux </h1>
		<span>
		Les échanges gazeux se font au niveau des alvéoles pulmonaires. Elles ressemblent à des petits sacs minuscules. Dans ces alvéoles, le dioxygène de l’air passe dans le sang pour alimenter tous les organes du corps. 
		Notre corps produit quant à lui du dioxyde de carbone qui transportait du sang vers les poumons pour être ensuite rejeté lors de l’expiration.
		</span>
		<img src="/css/img/cours/bronchiole.png"/> 
		
		<h1>Pourquoi cet échange ?</h1>
		<span>
		L’oxygène contenu dans le sang alimente nos muscles qui en ont besoin pour fonctionner (pour brûler les calories). Lorsque l’air a été consommé par les muscles, il est transformé en gaz carbonique que le corps ne peut pas garder : il est donc rejeté dans l’air.  Plus les muscles travaillent, plus ils ont besoin de calories et donc d’oxygène, plus le rythme cardiaque s’accélère.
		L’air pénètre dans les  poumons grâce à des tubes de plus en plus fins qui se terminent par des alvéoles pulmonaires.
			L’air expiré n’a pas la même composition que l’air inspiré. Un échange gazeux se fait dans les  alvéoles pulmonaires: une partie de l’oxygène contenu dans l’air inspiré passe dans le sang, et en échange, le sang se décharge de son gaz carbonique.
		</span>
		
		<h1> La composition de l'air</h1>
		<span>
		L’air que je respire est composé de dioxygène (O2), d’azote (N) en grande quantité et de dioxyde de carbone (CO2) en quantité minime.
		</span>
		
		<img src="/css/img/cours/composition_air.png"/> 
		
		<span>
		On remarque que l'air expiré est plus pauvre en dioxygène et plus riche en dioxyde de carbone que l'air inspiré. 
		L’inspiré quant à lui est riche en dioxygène et pauvre en dioxyde de carbone.
		L’azote est d’aucune utilité pour le corps, il entre et sort en quantité égale.
		Lors d’un effort physique important, nos muscles ont davantage besoin d’oxygène.
		En même temps, ils produisent plus de dioxyde de carbone, il faut donc respirer plus vite pour apporter plus d’oxygène et évacuer davantage de dioxyde de carbone.
		
		</span>
		
			<img src="/css/img/cours/consommation.png"/> 
	</div>
{% endblock body %}