{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme respiratoire CE2{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme respiratoire (CE2){% endblock titreCours %}
	{% block coursPrecedent %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_respiratoire" ,'idNiveau':'CE1'}) }}">Cours precedent (CE1)</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_respiratoire" ,'idNiveau':'CM1'}) }}">Cours suivant (CM1)</a>{% endblock coursSuivant %}
	<div id="global">
		<h1>A quoi sert l&acute;air que je respire ?</h1>
	<span>
		Un mouvement respiratoire comprend deux phases, une inspiration et une expiration.
		L&acute;air inspir&eacute; contient du dioxyg&egrave;ne, il ne contient pas ou tr&egrave;s peu de dioxyde de carbone.
		 L&acute;air expir&eacute; est riche en dioxyde de carbone.
		Le corps se sert de l&acute;oxyg&egrave;ne pour produire de l&acute;&eacute;nergie et se d&eacute;barrasse du gaz carbonique qui est un d&eacute;chet.
		Le trajet de l&acute;air
		L'air entre par le nez et par la bouche, passe par la trach&eacute;e jusqu&acute;aux poumons. Les poumons sont divis&eacute;s en bronches,  bronchioles et se finissent en alv&eacute;oles qui sont de minuscules sacs d'air.
		 A partir des alv&eacute;oles, l'air circule dans tout le corps.
	</span> 
	<div class="boiteImgCours"><img src="/css/img/cours/parcourAir.png"/></div>
	<h1>Les mouvements respiratoires</h1>
	<span>
	 Nous respirons de mani&egrave;re automatique gr&acirc;ce au diaphragme qui se contracte.
	 Le diaphragme est un muscle plat attach&eacute; &agrave; la base de la cage thoracique. Lorsque le diaphragme est au repos, il est bomb&eacute; vers le haut. Lorsque le diaphragme se contracte (ce qui demande un effort), il s'abaisse. 
	Le volume de la cage thoracique augmente et le poumon se remplit d'air : c'est l'inspiration.
	Lorsque le diaphragme se rel&acirc;che, il se bombe vers le haut, (ce qui ne demande pas d'effort). Le volume de la cage thoracique diminue et l'air sort du poumon : c'est l'expiration.
	L'inspiration est active alors que l'expiration est passive
	</span>
	<div class="boiteImgCours"><img src="/css/img/cours/mouvements.png"/></div>

	</div>
{% endblock body %}