{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme respiratoire CM2{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme respiratoire (CM2){% endblock titreCours %}
	{% block coursPrecedent %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_respiratoire" ,'idNiveau':'CM1'}) }}">Cours precedent (CM1)</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="">Tu as finis</a>{% endblock coursSuivant %}
	<div id="global">
	<h1>L'appareil respiratoire</h1>
	<span>
	La respiration est le phénomène cellulaire qui correspond à la réaction métabolique de l’O2, qui
va aboutir à la production de CO2 et la libération d’énergie. Cette réaction est liée au
fonctionnement du système respiratoire qui permet les échanges gazeux avec le milieu extérieur.
L’air va rentrer dans l’organisme par les voies aériennes, c’est l’inspiration, et ressortir de la
même façon, c’est l’expiration. Ces deux mouvements, sont assurés par l’aide des muscles
respiratoires.
La régulation des mouvements est assurée au niveau du cerveau par des centres respiratoires
situés dans le bulbe rachidien. Ces centres fonctionnent de manière automatique et adaptent la
contraction et le relâchement des muscles en fonction de la composition du sang et des besoins
métaboliques de l’organisme.
Le système respiratoire est formé par :

<ul>
<li>Les voies aériennes, conduits assurant la communication entre les poumons et l’air atmosphérique</li>
<li>Les muscles respiratoires assurant les mouvements des structures thoraciques responsables de l’entrée et la sortie d’air dans les voies respiratoires</li>
<li>Les poumons, organe d ’échanges gazeux entre le sang et l’air atmosphérique</li>
</ul>
</span>
<img src="/css/img/cours/resumeRespiration.png"/> 
	<h1>Les voies aériennes</h1>
	<span>
	L’air pénètre dans l’organisme par le nez et la bouche, cavités qui débouchent dans le
pharynx, conduit respiratoire et digestif. Il se divise en deux conduits :

<ul>
<li>à l’avant, le conduit respiratoire représenté par le larynx qui se poursuit par la trachée.</li>
<li>à l’arrière, l’oesophage, voie de passage des aliments.</li>
</ul>
Au moment du passage de l’air, il y a une obstruction des voies aériennes réalisée par le
rapprochement des cordes vocales, replis du larynx, et l’abaissement de l’épiglotte, replis
membraneux qui ferme l’ouverture de la trachée.
La trachée se divise en deux bronches souches droite et gauche qui se subdivisent elles-mêmes en
bronches lobaires jusqu’aux bronchioles terminales. Ce qui correspond à des tubes ramifiés de plus
en plus nombreux et de plus en plus étroits et de plus en plus courts.
Le volume moyen des voies aériennes et des cavités alvéolaires est de 2 litres et demi lorsque le
poumon est au repos.
	
	</span>
	
	<h1>Les muscles respiratoires</h1>
	<span>
	L’entrée de l’air est assurée par les mouvements involontaires de muscles respiratoires.
La fonction de ces muscles est d’assurer les variations de dimension de la cavité thoracique dans
laquelle sont logés les poumons.
Le thorax est un compartiment fermé limité par les côtes qui s’articulent à l’arrière sur la colonne et
devant le sternum, ils sont recouverts par des muscles.
Cette cage est fermée à sa partie inférieure par un muscle : le diaphragme. Le diaphragme est le
muscle le plus important. Sa contraction provoque l’augmentation de la hauteur de la cage thoracique
et l’écartement des côtes inférieures.
Les muscles respiratoires sont les muscles dont la contraction entraîne une variation des dimensions
de la cage thoracique. Ils sont divisés en deux catégories :
<ul>
<li>les muscles respiratoires principaux : le diaphragme </li>
<li>les muscles intercostaux externes dont la contraction augmente le diamètre latéral.</li>
<li>Les muscles respiratoires accessoires : les muscles inspiratoires qui augmentent les dimensions de la cage thoracique</li>
<li>les muscles expiratoires qui diminuent les dimensions de la cage thoracique.</li>
</ul>	
	</span>
<img src="/css/img/cours/muscleRespiration.png"/> 

<h1>Les poumons</h1>
<span>
Les poumons sont composés de deux sacs de tissus souples logés dans le thorax qu’ils occupent
entièrement avec le coeur, les gros vaisseaux et certains nerfs. Ils sont séparés en lobes, deux à
gauche et trois à droite, qui sont séparés par des cloisons fibreuses. Le tissu conjonctif élastique qui
structure les poumons contient 600 millions d’alvéoles.
Les alvéoles sont limitées par une paroi très mince : la membrane alvéolaire, qui est entourée d’un
réseau de capillaire abondant : les capillaires alvéolaires. Les capillaires alvéolaires appartiennent à
la circulation pulmonaire issue de l’artère pulmonaire, ils reçoivent la totalité du sang veineux du
ventricule droit.

</span>

<h1>Les échanges gazeux</h1>
<span>
Les échanges gazeux entre l’air contenu dans les alvéoles (l’air alvéolaire) et le sang circulant dans
les capillaires alvéolaires se font au niveau de la membrane alvéolaire.
La zone d’échange est structurée de la façon suivante : la paroi alvéolaire est formée par une couche
unique de cellules, séparée du réseau capillaire par une couche très fine de tissu conjonctif. Les
cellules des parois capillaires sont donc pratiquement accolées aux cellules des parois alvéolaires.
</span>

<span>
Pour fonctionner correctement, la machinerie cellulaire utilise l'oxygène comme un véritable
combustible permettant de produire et de stocker de l'énergie. Cette énergie servira dans toutes
sortes de réactions nécessaires à la vie.
L'oxygène est apporté aux cellules grâce au sang. La cellule consomme de l’oxygène et produit
parmi ses déchets du gaz carbonique. L’oxygène doit lui être amené par le sang, et le gaz
carbonique doit être évacué par la même voie.
Au niveau des alvéoles pulmonaires, le sang passe par de très fins capillaires. Les
différences de pression gazeuse entre le sang et l’air alvéolaire favorisent les échanges.
En effet, l’air alvéolaire est riche en oxygène et pauvre en gaz carbonique, tandis que la
répartition est inverse au niveau du sang veineux arrivant autour de l’alvéole. Pour les
deux gaz, le passage se fait d’une pression élevée vers une pression basse. C’est la
diffusion des gaz. Le sang qui s’éloigne de l’alvéole s’est donc enrichi en O2 et
appauvri en CO2.
</span>
<img src="/css/img/cours/resumePoumons.png"/> 
	</div>
{% endblock body %}