{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme digestif CE1{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme respiratoire (CE1){% endblock titreCours %}
	{% block coursPrecedent %}<a href="">c'est le début</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_respiratoire" ,'idNiveau':'CE2'}) }}">Cours suivant (CE2)</a>{% endblock coursSuivant %}
	<div id="global">
		<h1>Quelles sont les phases de la respiration ?</h1>
		<span>L’air est vital. On respire continuellement par des mouvements respiratoires réguliers. 
		Un mouvement respiratoire comprend deux phases, une inspiration et une expiration. 
		Le rythme respiratoire est le nombre de mouvements respiratoires pendant un temps donné par exemple durant une minute.
		Je mesure mon rythme respiratoire de la façon suivante :
		En mettant le doigt sous le nez, mesure ton nouveau rythme respiratoire en comptant le nombre d'expirations durant une minute. 
		Le rythme respiratoire varie; il est différent d'un enfant à l'autre. 
		Il augmente pendant et après un effort physique. Il est plus rapide chez les bébés et chez les très jeunes enfants. 
		Il est plus lent chez les adultes.
		</span>
		
		<h1>Où va l'air que l'on respire ?</h1>
		<span>
			La respiration s'accélère quand on fait un effort physique et on a besoin de beaucoup d'air.
			L'air entre dans ma bouche ou mon nez puis arrive aux poumons par la trachée.
			
			Si l’air est pollué, il circule moins bien et m'empêche de respirer correctement.
		</span>
		<img src="/css/img/cours/appareilRespiratoire.png"/>
		
	</div>
{% endblock body %}
