{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme digestif CM2{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme digestif (CM2){% endblock titreCours %}
	{% block coursPrecedent %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_digestif" ,'idNiveau':'CM1'}) }}">Cours precedent (CM1)</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="">tu as finis</a>{% endblock coursSuivant %}
	<div id="global">
	
<h1>Première étape : la bouche</h1>
	<span>
La bouche constitue la porte d’entrée de notre corps pour tout ce que nous consommons de liquide ou de solide. Bien sûr, l’air peut aussi circuler dans la bouche, elle est donc aussi impliquée dans la respiration.    
<img src="/css/img/cours/bouche.png"/>                                                                                                        
</span>

<span>
Le rôle essentiel de la bouche dans le système digestif est la mastication.
La mastication c’est le mouvement rythmique d’ouverture et de fermeture de la bouche qui sert à broyer les aliments.
La mastication se fait grâce au mouvement de la mâchoire inférieure (appelée mandibule) sur la mâchoire supérieure. En effet, il n’y a que la mâchoire inférieure qui soit mobile, l’autre est soudée au crâne et donc incapable de bouger.
La mastication sert à découper la nourriture en tout petits morceaux. Cela est particulièrement important pour les substances difficiles à digérer. Plus les particules de nourriture sont petites, plus elles seront faciles à digérer.
C’est le travail des dents que de couper et déchiqueter la nourriture.
<ul>
<li> Les incisives servent à couper les aliments.</li>
<li>Les canines servent à déchiqueter les membranes coriaces ( comme la viande).</li>
<li>Les molaires servent à broyer la nourriture.</li>
</ul>
</span>

<img src="/css/img/cours/dent.png"/>   

<span>
La langue assure le brassage lors de la mastication.
La salive est aussi très importante pour la digestion bien qu’elle ne soit pas indispensable. 
Elle remplit trois rôles essentiels :
<ul>
<li>elle commence la digestion.</li>
<li>elle lubrifie la nourriture pour faciliter l’avalage.</li>
<li>elle détruit certaines bactéries et aide ainsi le système immunitaire.</li>  
</ul>
</span> 

<h1>Deuxième étape : l’oesophage  </h1>
<span>
Lorsque la mastication est terminée, on déglutit, c’est-à-dire que l’on avale la nourriture qui passe dans le pharynx (ce qu’on appelle gorge).
Le pharynx est un carrefour qui communique avec la trachée (tuyau pour la respiration), l’œsophage et même la cavité nasale. Lorsque l’on avale, l’extrémité supérieure de la trachée se ferme grâce à l’épiglotte et empêche ainsi tout autre substance que l’air d’entrer dans les poumons.         
</span> 

<img src="/css/img/cours/tete.png"/>  

<span>
L’œsophage est un tuyau d’une petite trentaine de cm qui « pousse » les aliments vers l’estomac. A l’intérieur, il est très lisse et recouvert d’un liquide appelé mucus, ce qui permet aux aliments de glisser facilement.
Les aliments que l’on vient d’avaler forment une boulette qui est poussée dans l’œsophage grâce aux muscles de sa paroi.
Ces muscles ressemblent à des anneaux qui se resserrent (contractions) les uns après les autres toutes les 9 secondes. Ils font ainsi avancer les aliments, même si l’on mange couché ou en poirier !        
</span>

<h1> Troisième étape : l’estomac </h1>
<span>

C'est une poche musculeuse (formée de muscles) à paroi triple et en forme de J. Sa surface intérieure contient les glandes qui sécrètent le suc gastrique.

<span>
<img src="/css/img/cours/estomac.png"/>  
<span>
Grâce à ses muscles, l’estomac va malaxer les aliments avec ce suc gastrique et les transformer en chyme. 
Chyme : n.m. masse liquide partiellement digérée après l’action de l’estomac.
Le suc gastrique contient de l’acide chlorhydrique pour tuer les microbes et des enzymes (substances qui permettent de transformer les aliments en une sorte de bouillie semi-liquide). 
L’estomac peut recevoir entre un et deux litres de nourriture.

Avant d’entreprendre le malaxage des aliments, le dernier anneau de muscle de l’œsophage appelé sphincter gastrooesophagien ou cardia, se referme afin d’empêcher le reflux de nourriture.
Sphincter : n.m. anneau de muscle qui se contracte pour fermer une ouverture.
Une fois les aliments solides transformés en chyme, ils se déversent dans le duodénum, par contraction des muscles, en passant par le sphincter pylorique appelé pylore qui agit comme une vanne.

</span>

<img src="/css/img/cours/estomacZoom.png"/>  

<h1>Quatrième étape : les intestins</h1>
<span>
L'estomac laisse peu à peu passer la bouillie qui arrive dans l'intestin. La première partie de l'intestin s'appelle le duodénum ( 20cm de long). C'est là qu'arrivent les sucs produits par deux glandes très importantes, le foie et le pancréas. 
	Le foie produit la bile qui fragmente les particules de graisses en tout petits morceaux. Le foie produit la bile en permanence, celle-ci est stockée dans la vésicule biliaire.
	Le pancréas produit le suc pancréatique qui achève de fragmenter les dernières particules alimentaires. 
Les aliments continuent alors leur chemin vers l’intestin grêle ( +- 7m de long). 
La paroi de l'intestin grêle est couverte par d'innombrables replis qui augmentent considérablement sa surface. Tout ceci pour une bonne raison, augmenter la surface d'absorption des substances solubles. Les substances passent dans le sang ou dans la lymphe pour être ensuite transportées à tous les autres organes du corps.
Lymphe : n.f. liquide incolore se trouvant dans le corps et qui transporte des éléments nutritifs mais aussi des déchets.( le plus gros organe lymphatique est la rate)
Les déchets passent ensuite dans le gros intestin appelé aussi colon (+- 1,5 m de long) où l'eau sera absorbée et où les déchets deviendront solides. Le gros intestin abrite une foule de microbes (nommée flore intestinale) qui achèveront de transformer les aliments. Les déchets sont ensuite évacués par l'anus via le rectum qui est la dernière partie de l’intestin.


</span>
<img src="/css/img/cours/abdomen.png"/>  
	</div>
{% endblock body %}