{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme digestif CM1{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme digestif (CM1){% endblock titreCours %}
	{% block coursPrecedent %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_digestif" ,'idNiveau':'CE2'}) }}">Cours precedent (CE2)</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_digestif" ,'idNiveau':'CM2'}) }}">Cours suivant (CM2)</a>{% endblock coursSuivant %}
	<div id="global">
		<span>eLes aliments que nous mangeons passent dans notre corps à travers le tube digestif. Le tube digestif comprend : la bouche, l’oesophage, l’estomac, l’intestin grêle (qui mesure 8m de longueur), le gros intestin et l’anus.
Les aliments progressent le long de la paroi de l’intestin grâce aux contractions des muscles de cette paroi.
Au cours de leur trajet dans le tube digestif, les aliments sont transformés en substances solubles très petites : les nutriments.
Ils sont transformés grâce à l’action des sucs digestifs qui se trouvent dans les glandes digestives (glandes salivaires, foie, pancréas).
Les nutriments passent dans le sang qui va les distribuer à tous les organes du corps. Les déchets (l’eau et les morceaux qui ne peuvent être réduits en petites particules) passent dans le gros intestin et sont rejetés dans les urines et dans les matières fécales.
Langue
Oesophage
Estomac
Pancréas
Duodénum
Le foie
Gros intestin
Intestin grêle</span>
	</div>
{% endblock body %}