{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme digestif CE1{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme respiratoire (CE1){% endblock titreCours %}
	{% block coursPrecedent %}<a href="">c'est le d&eacute;but</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_respiratoire" ,'idNiveau':'CE2'}) }}">Cours suivant (CE2)</a>{% endblock coursSuivant %}
	<div id="global">
		<h1>Quelles sont les phases de la respiration ?</h1>
		<span>L’air est vital. On respire continuellement par des mouvements respiratoires r&eacute;guliers. 
		Un mouvement respiratoire comprend deux phases, une inspiration et une expiration. 
		Le rythme respiratoire est le nombre de mouvements respiratoires pendant un temps donn&eacute; par exemple durant une minute.
		Je mesure mon rythme respiratoire de la fa&ccedil;on suivante :
		En mettant le doigt sous le nez, mesure ton nouveau rythme respiratoire en comptant le nombre d'expirations durant une minute. 
		Le rythme respiratoire varie; il est diff&eacute;rent d'un enfant &agrave; l'autre. 
		Il augmente pendant et apr&egrave;s un effort physique. Il est plus rapide chez les b&eacute;b&eacute;s et chez les tr&egrave;s jeunes enfants. 
		Il est plus lent chez les adultes.
		</span>
		
		<h1>O&ugrave; va l'air que l'on respire ?</h1>
		<span>
			La respiration s'acc&eacute;l&egrave;re quand on fait un effort physique et on a besoin de beaucoup d'air.
			L'air entre dans ma bouche ou mon nez puis arrive aux poumons par la trach&eacute;e.
			
			Si l’air est pollu&eacute;, il circule moins bien et m'emp&ecirc;che de respirer correctement.
		</span>
		<div class="boiteImgCours"><img src="/css/img/cours/appareilRespiratoire.png"/></div>
		
	</div>
{% endblock body %}
