{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme digestif CE2{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme digestif (CE2){% endblock titreCours %}
	{% block coursPrecedent %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_digestif" ,'idNiveau':'CE1'}) }}">Cours precedent (CE1)</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_digestif" ,'idNiveau':'CM1'}) }}">Cours suivant (CM1)</a>{% endblock coursSuivant %}
	<div id="global">
	
</span>
		Les aliments que nous mangeons sont digérés, c’est-à-dire transformés en éléments plus simples (des nutriments) que notre organisme pourra utiliser.
Ces transformations ont lieu dans le tube digestif.
Le parcours des aliments est le suivant :

<ul>
<li>La bouche : Les aliments sont broyés par les dents et ramollis par la salive (suc digestif produit par les glandes salivaires), c’est la mastication.</li>

<li>L’arrière-bouche : Ils sont avalés, c’est la déglutition.</li>

<li>L’œsophage : Ils descendent dans ce tube sans subir de modification.</li>

<li>L’estomac : Ils sont transformés en bouillie grâce à l’action du suc gastrique (suc digestif produit par l’estomac), c’est le brassage.</li>

<li>L’intestin grêle : C’est là que se produit la digestion. D’autres sucs digestifs agissent (le suc pancréatique produit par le pancréas et la bile produite par le foie). Les aliments sont alors décomposés en substances nutritives solubles : les nutriments qui traversent la paroi de l’intestin grêle et passent dans le sang, c’est l’absorption. Le sang distribue alors ces nutriments aux organes, ils servent à faire grandir le corps, à le maintenir en bon état et à produire l’énergie nécessaire pour vivre.
Les aliments non digérés forment les déchets.</li>

<li>Le gros intestin et l'anus : les déchets sont accumulés dans le gros intestin et sont évacués dans les excréments par l’anus, c’est l’évacuation.</li>
</ul>
</span>
<img src="/css/img/cours/appareilDigestif.png"/> 
	</div>
{% endblock body %}