{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme digestif CE1{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme digestif (CE1){% endblock titreCours %}
	{% block coursPrecedent %}<a href="">c'est la début</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_digestif" ,'idNiveau':'CE2'}) }}">Cours suivant (CE2)</a>{% endblock coursSuivant %}
	<div id="global">
		<span><h1>ALIMENTATION</h1>
Tous les aliments que je mange proviennent.
•	Soit des animaux : la viande, les œufs ou le lait. 
•	Soit des végétaux : les légumes, les fruits , céréales.
Certains se mangent crus, d'autres se mangent cuits.
L'eau que je bois, par contre, ne vient ni d'un animal, ni d'un végétal. On la trouve dans la nature.

Pour classer les aliments, on les sépare en 6 familles : 
•	La famille des viandes, œufs et poissons
•	La famille des fruits et légumes
•	La famille des féculents  (pain, céréales, pommes de terre…)
•	La famille des matières grasses (huile, beurre, sucreries…)
•	La famille des produits laitiers (lait, fromages, yaourts…)
•	La famille des boissons
Pour être en bonne santé, je dois manger des aliments de chaque famille :

•	Des fruits et légumes, des produits laitiers, des féculents à chaque repas.
•	De la viande, du poisson ou des œufs une fois par jour.
•	Les produits gras et sucreries ne sont pas nécessaires tous les jours.</span>
	</div>
{% endblock body %}