{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Connection{% endblock title %}
{% block body %}
 


	<div id="navBar">
		<div id="retourMenuBox" class="barreButton">
			<div id="retourMenuBoxImg">
				<img src="{{asset('css/img/icone_retour_main.png')}}"/>
			</div>
			<div id="retourMenuBoxTxt">
				<a href="{{path('anatomeasy_student_index')}}">Menu principal</a>
			</div>
		</div>
		<div id="coursPrecedBox" class="barreButton">
			<div id="coursPrecedBoxImg">
				<img src="{{asset('css/img/goBefore.png')}}"/>
			</div>
			<div id="coursPrecedBoxTxt">
				{% block coursPrecedent %}
				{% endblock %}
			</div>
		</div>
		
		<div id="navBarTitre">
			<h1>{% block titreCours %}
				{% endblock %}</h1>
		</div>
		
		<div id="coursSuivantBox" class="barreButton">
			<div id="coursSuivantBoxImg">
				<img src="{{asset('css/img/goNext.png')}}"/>
			</div>
			<div id="coursSuivantBoxTxt">
				{% block coursSuivant %}
				{% endblock %}
			</div>
		</div>
		
		
		
	</div>

{% endblock body %}
