{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Connection{% endblock title %}
{% block body %}

{{ parent() }}

<div class="hero-unit">
        <h1>Anatom-Easy</h1>
        <p>Connecte-toi et commence à jouer !</p>
</div>

{% endblock body %}
